@import './variables';
@import './testimonial';
@import './portfolio';
@import './buttons';

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: $bg-body;
    margin-right: 0;
}







